:root {
  --el-color-primary: #00bfa6;
  --el-color-primary-light-3: #1cffe1;
  --el-color-primary-light-9: #e2fffb;
  --el-color-primary-dark-2: #00bfa6;
  --el-color-primary-light-5: #00bfa6;
  --el-color-primary-light-8: #00bfa6;
}
