* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* body{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
} */
#nprogress .bar {
  background: #00bfa6 !important;
}
#nprogress .spinner-icon {
  border-top-color: #00bfa6 !important;
  border-left-color: #00bfa6 !important;
}
.card {
  box-sizing: border-box;
  padding: 20px;
  overflow-x: hidden;
  background-color: #fff;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}
